<%- include('../partials/header') %>
<br>
<% if (cart && cart.length > 0) { %>
    <h1>장바구니</h1>
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'>이미지</th>
                <th scope='col'>이름</th>
                <th scope='col'>가격</th>
                <th scope='col'>개수</th>
                <th scope='col'>변경</th>
                <th scope='col'>가격</th>
            </tr>
        </thead>
        <tbody>
            <% let total=0; %>
            <% cart.forEach(product => { %>
                <% let sub = product.qty * product.price %>
                <% total += +sub; %>
                <tr>
                    <td><img style='width: 100%;' src='<%= product.image %>' alt='product'></td>
                    <td><%= product.title %></td>
                    <td><%= product.price %></td>
                    <td><%= product.qty %></td>
                    <td>
                        <a class='btn btn-primary' href='/cart/update/<%= product.title %>?action=add'>+</a>
                        <a class='btn btn-danger' href='/cart/update/<%= product.title %>?action=remove'>-</a>
                        <a class='btn btn-dark' href='/cart/update/<%= product.title %>?action=clear'>X</a>
                    </td>
                    <td><%= sub %>원</td>
                </tr>
            <% }) %>
            <tr>
                <td colspan='5'></td>
                <td><%= total %>원</td>
            </tr>
            <tr>
                <td colspan='4'></td>
                <td>
                    <form action='/cart?_method=delete' method='post'>
                        <button class='clearcart btn btn-danger'>장바구니 비우기</button>
                    </form>
                </td>
                <td>
                    <a class='btn btn-primary buyout' onClick='requestPay()' href='#'>결제하기</a>
                </td>
            </tr>
        </tbody>
    </table>
<% } else { %>
    <h3>장바구니가 비어있습니다.</h3>
<% } %>
<script>
    IMP.init('imp41530773');

    function requestPay() {
        IMP.request_pay({
            pg: "kcp.INIpayTest",
            pay_method: "card",
            merchant_uid: "ORD20180131-0000011",   // 주문번호
            name: "노르웨이 회전 의자",
            amount: 100,                         // 숫자 타입
            buyer_email: "gildong@gmail.com",
            buyer_name: "홍길동",
            buyer_tel: "010-4242-4242",
            buyer_addr: "서울특별시 강남구 신사동",
            buyer_postcode: "01181"
            }, function (rsp) { // callback
            if(rsp.success){
                console.log('success',rsp);
                fetch('/cart/complete-order')
                .then(res => {
                    location.reload();
                })
                .catch(err => {
                    console.log(err);
                })
            }else {
                console.log('fail',rsp);
            }
        });
  }
</script>

<%- include('../partials/footer') %>